absl-py==2.2.1
astunparse==1.6.3
autocommand==2.2.2
certifi==2025.1.31
charset-normalizer==3.4.1
clang==19.1.7
coloredlogs==15.0.1
contourpy==1.3.1
ctypesgen==1.1.1
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
distutils==78.1.0
evdev==1.9.2
flatbuffers==25.2.10
fonttools==4.56.0
gast==0.6.0
google-pasta==0.2.0
grpcio==1.71.0
h5py==3.13.0
humanfriendly==10.0
idna==3.10
imageio==2.37.0
inflect==7.5.0
jaraco.classes==3.4.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
joblib==1.4.2
keras==3.9.2
keyboard==0.13.4
kiwisolver==1.4.8
lazy_loader==0.4
lz4==4.4.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
mdurl==0.1.2
ml_dtypes==0.5.1
more-itertools==10.6.0
mss==10.0.0
namex==0.0.9
networkx==3.4.2
numpy==2.2.5
onnx==1.17.0
onnxruntime==1.21.0
opencv @ file:///build/source/modules/python/package/dist/opencv-4.11.0-py3-none-any.whl#sha256=3c4780230f49a4eb7d84e2df9e55bd8f5026940b136ad02201a1fa7917b96093
opt_einsum==3.4.0
optree==0.14.1
packaging==24.2
pillow==11.2.1
protobuf==6.30.2
psutil==7.0.0
Pygments==2.19.1
pyparsing==3.2.3
pytesseract==0.3.13
python-dateutil==2.9.0.post0
PyWavelets==1.8.0
requests==2.32.3
rich==14.0.0
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.3
setuptools==78.1.0.post0
six==1.17.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
termcolor==3.0.0
tf2onnx==1.16.1
threadpoolctl==3.6.0
tifffile==2025.3.30
typeguard==4.4.2
typing_extensions==4.13.2
urllib3==2.3.0
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.2
